<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skill.dao.SeckillOrderMapper" >
  <resultMap id="BaseResultMap" type="com.skill.model.SeckillOrder" >
            <id column="id" property="id" jdbcType="BIGINT" />
            <result column="cust_name" property="custName" jdbcType="VARCHAR" />
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <sql id="Base_Column_List" >
        id,cust_name,create_time
    </sql>

    <insert id="addSeckillOrder" keyProperty="id" useGeneratedKeys="true">
        insert into seckill_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="custName != null and custName != ''" >
                    cust_name,
                </if>
                <if test="createTime != null and createTime != ''" >
                    create_time,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                  <if test="custName != null and custName != ''" >
                      #{custName,jdbcType=VARCHAR},
                  </if>
                  <if test="createTime != null and createTime != ''" >
                      #{createTime,jdbcType=TIMESTAMP},
                  </if>
        </trim>
    </insert>

    <update id="updateSeckillOrder" parameterType="com.skill.model.SeckillOrder">
        update seckill_order
        <set>
            <if test="custName != null and custName != ''" >
            custName=#{custName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null and createTime != ''" >
            createTime=#{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id=#{id,jdbcType=BIGINT}
    </update>

    <select id="listSeckillOrder" resultMap="BaseResultMap" parameterType="com.skill.model.SeckillOrder">
        select <include refid="Base_Column_List"/> from seckill_order
    </select>
</mapper>